<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>

<body>
<p><a th:href="@{/index}">Home </a>> Delete Company ></p>

<h1>Form to delete the Company</h1>
<form class="delForm" action="#" th:action="@{/deleteCompanyResult}" th:object="${companyObject}"
      method="post">
    <div align="center">
        <p><input type="text" th:field="*{companyName}" placeholder="Name"/></p>
        <p><input class="submitButton" type="submit" value="Submit"/></p>
    </div>
</form>
</body>

</html>