<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="../../css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Job Controller</h1>
    <ul>
    <li><a th:href="@{/thymeleafController/allCompanies}">allCompanies</a></li>
    <li><a >getByName (use: /getByName?xxx=point)</a></li>
    <li><a th:href="@{/thymeleafController/addCompanyForm}">addCompanyForm</a></li>
    <li><a th:href="@{/thymeleafController/updateCompanyForm}">updateCompanyForm</a></li>
    <li><a th:href="@{/thymeleafController/deleteCompanyForm}">deleteCompanyForm</a></li>
    </ul>
<p><img src="https://danielmiessler.com/images/exploits_of_a_mom.png" alt="Юмор программистов :)"/></p>
</body>
</html>